:root{
	--mainColor:#5b3869;
	--secondaryColor:#382a3f;
    --elementColor: #a83c66;
	--descriptiveColor: #c0c4c9;

	--borderColor:#c3a3cf;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2b202f;


	--buttonColor:#8534a3;
}