:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;
  --elementColor: #5ac79d;
	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;

	--buttonColor:black;
}



/* .three { width: 30%;} */
/* .nine {width: 60%;} */

h4 {
	font-family: "raleway-bold";
	text-align: center;
	font-size: clamp(26pt, 4vw, 40pt);
	font-weight: 700;
	color: rgb(235, 230, 230);
	margin: 50px 0 20px 0;
}

h4 > span {
	border-bottom: 3px solid #e0dbdb;
    padding-bottom: 6px;
 }

 