#about {
    background-image: linear-gradient(rgb(117, 116, 116), rgb(255, 255, 255));
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    display: block;
    overflow: hidden;
	  font-family: 'Roboto Mono', monospace;
}

.soft-skill {
    display: flex;
    position: relative;
    top: 20px;
    height: 250px;
    max-width: 1224px;
    /* margin-right: 10px; */
    margin: 0  auto;
}

.soft-skill1, .soft-skill2 {
  display: flex;
  /* margin: 0 !important; */
  flex: 0.5;
}

.my-skill {
  max-width: 150px;
  margin: 0 auto;
  padding: 0 10px;
}
  
.soft-skill > div {
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.each-skill {
    position: relative;
    color: white;
    top: 20px;
}
  
.skills {
    -webkit-text-stroke: 0.5px black;
  
}

  #chevron > i {
    z-index: 1;
    color: rgb(0, 0, 0);
    position: relative;
    top: 7px;
  }
  
  #chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    margin: 0 auto;
    height: 40px;
    width: 60px;
    
  }
  #chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #5ac79d;
    transform: skew(0deg, 20deg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.95);
  }
  #chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #5ac79d;
    transform: skew(0deg, -20deg);
    /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.95); */
    box-shadow: 8px -1px 15px rgba(0, 0, 0, 0.45);
  
    /* clip-path: inset(-5px -10px -5px 0px); */
  }

  /* About me */
  .row {
    display: flex;
    width: 96%;
    max-width: 1224px;
    margin: 0 auto;
  }
  
  .column-left { 
    display: flex;
    flex-direction: column;
    width: 40%;
    /* margin: 0 auto; */
    margin-right: 20px;
    align-items: center;
  }
  .column-right { 
    width: 60%;
	  /* margin: 0 20px; */

  }
  
  #about .profile-pic {
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 100%;
  }

.hexagon {
    position: relative;
    width: 300px; 
    height: 173.21px;
    margin: 30px auto;
    /* background-image: url("./Images/Avatar\ Tuan.png"); */
    background-image: url("../Images/ProfilePic3.png");
    background-size: auto 346.4102px;
    background-position: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.95);
    transform: rotate(90deg) scale(0.7);
  }
  
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 43.93px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.95);
  }
  
  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 300.0000px;
    height: 173.20508075688775px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: -106.0660px;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  
  .hexBottom {
    bottom: -106.0660px;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300.0000px;
    height: 173.2051px;
    z-index: 2;
    background: inherit;
  }
/*----------------------------------------------*/
/*	Themes
/*----------------------------------------------*/
  #theme-options-wrapper{
    display: flex;
    height: 50px;
  }
  
  .theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border:2px solid var(--themeDotBorder);
    /* -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); */
    cursor: pointer;
    transition: 0.35s;
  }
  
  
  .theme-dot:hover{
    border-width: 5px;
  }
  
  
  #light-mode{
    background-color: #fff;
  }
  
  #blue-mode{
    background-color: #192734;
  }
  
  #green-mode{
    background-color: #78866b;
  }
  
  #purple-mode{
    background-color: #7E4C74;
  }

/*----------------------------------------------*/
/*	Bio
/*----------------------------------------------*/
h3 {
  font-size: 15pt;
  margin-top: 0;
  margin-bottom: 5px;
}

.column-left > p {
  font-size: 13.5pt;
  text-align: justify;
  margin: 0;
  padding-bottom: 40px;
}
/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/
.bars {
	width: 85%;
	float: left;
  text-align: left;
}

.bars .skills {
  margin-top: 0px;
  list-style: none;
  -webkit-text-stroke: 1px black;
}
.bars li {
  position: relative;
	margin-bottom: 40px;
  background: rgb(218, 218, 218);
  height: 30px;
  border-radius: 3px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.95);
     
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
  color: #313131;

	text-transform: uppercase;
  letter-spacing: 2px;
	font-weight: normal;
  position: relative;
  top: 5px;
  left: 5px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  background: #5ac79d;
  /* background: var(--mainColor); */
  display: inline-block;
  height: 30px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;

}

li > b {
  float: right;
  align-content: center;
  padding-right: 5px;
  font: 15px/30px 'opensans-bold', 'Raleway';
  color: rgb(6, 10, 68);
  -webkit-text-stroke: 0.5px black;

}

    